PORT=8000
MONGODB_URL = mongodb+srv://MdFaizan:<Faizan123>@cluster0.pvxqic0.mongodb.net
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET = 1234567890743234567876543
REFRESH_TOKEN_EXPIRY = 10d
CLOUDINARY_CLOUD_NAME = dv57fnkp7
CLOUDINARY_API_KEY = 182714513279519
CLOUDINARY_API_SECRET = NXe_jKEgGfruCYoeteZGMSESlno